<div class="image_background">
  <div class="signin_container">
    <h2 class="title">ログイン</h2>
    <div class="form_container">
      <%= form_for @user, url: {action: 'signin'} do |f| %>
      <ol>
        <li><%= f.text_field :name, class: 'form_textfield', placeholder: 'ユーザー名' %></li>
        <li><%= f.text_field :password, class: 'form_textfield', placeholder: 'パスワード' %></li>
        <div class="form_btn_wrapper">
          <%= f.submit 'ログイン', class: 'button form_btn_submit' %>
        </div>
      </ol>
      <% end %>
    </div>
  </div>
</div>
