@import 'variable';

.main_container {
  width: 100%;
  position: relative;
}

.image_background {
  z-index: 1;
  position: relative;
  height: 660px;
  width: 100%;
  background-image: image-url('topimage.jpg');
  background-size: cover;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

//  header ==========================

.header {
  height: 50px;
  width: 100%;
  position: relative;
  top: 0px;
  background: $themeColor;;
  &_icon {
    height: 50px;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;

    &_title {
      height: 50px;
      width: 200px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin: auto;
      padding: 7px 10px;
      & a {
        color: #fff;
        transition: 0.2s;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &_message {
      float: left;
    }
  }

  &_menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;

    & ul {
      height: inherit;
    }

    &_elements {
      display: block;
      height: inherit;
      min-width: 100px;
      text-align: center;
      float: left;

      & a {
        color: #fff;
        display: block;
        height: inherit;
        width: inherit;
        padding: 15px 20px;
        transition: 0.2s;

        &:hover {
          background: $lightBlue;
          font-size: 16px;
          padding: 13px 15px;
          text-decoration: none;
        }
      }
    }
  }
}

// ================================

// フラッシュメッセージ===============
.flash_message {
  width: 50%;
  position: absolute;
  top: 80px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  opacity: 1;
  z-index: 10;
  &_notice {
    background: rgb(27, 209, 158);
  }
  &_alert {
    background: red;
  }
}
// ================================
