@import 'variable';

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

}

.title {
  text-align: center;
  &:after {
    width: 50%;
    content: '';
    display: block;
    border-bottom: 1px solid #eee;
    margin: 20px auto;
  }
}

.button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}
