<div class="header">
  <div class="header_icon">
    <p class="header_icon_title">
      <%= link_to 'Semii', root_path %>
    </p>
  </div>
  <div class="header_menu">
    <ul>
      <li class="header_menu_elements">
        <%= link_to 'ログイン', users_sign_in_path %>
      </li>
      <li class="header_menu_elements">
        <%= link_to '新規登録' %>
      </li>
    </ul>
  </div>
</div>
